<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link th:href="@{/assets-admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="card p-4 shadow-lg col-md-5 mx-auto">
        <h3 class="text-center mb-4">Đăng nhập</h3>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" class="form-control mb-3" placeholder="Tên đăng nhập hoặc Email" required>
            <input type="password" name="password" class="form-control mb-3" placeholder="Mật khẩu" required>
            <button class="btn btn-success w-100">Đăng nhập</button>
        </form>
        <p class="text-center mt-3">Chưa có tài khoản? <a th:href="@{/register}">Đăng ký</a></p>
    </div>
</div>
</body>
</html>
