<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{admin/include/header :: header (title=${pageTitle})}"></th:block>
</head>
<body>
<th:block th:replace="~{admin/include/header :: header-nav}"></th:block>
<th:block th:replace="~{admin/include/sidebar :: sidebar}"></th:block>

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Điền thông tin Chuyên khoa</h5>

                        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="bi bi-exclamation-octagon me-1"></i>
                            <span th:text="${errorMessage}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/admin/departments/save}" th:object="${department}" method="post" class="row g-3">
                            <input type="hidden" th:field="*{id}" />
                            <div class="col-12">
                                <label for="name" class="form-label">Tên Khoa</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" required>
                            </div>
                            <div class="col-12">
                                <label for="description" class="form-label">Mô tả</label>
                                <textarea th:field="*{description}" class="form-control" id="description" rows="4"></textarea>
                            </div>
                            <div class="col-12">
                                <label for="image" class="form-label">Tên file ảnh (vd: dept-1.jpg)</label>
                                <input type="text" th:field="*{image}" class="form-control" id="image">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                                <a th:href="@{/admin/departments}" class="btn btn-secondary">Hủy</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><th:block th:replace="~{admin/include/footer :: footer}"></th:block>
</body>
</html>